body{
	background: url("giphy.gif");
	background-size: cover;
}
li {list-style: none;
	display: inline-block;
	justify-content: ;
}
ul {text-align: right;
	font-family: fantasy;
	font-color:black;
}
h2{	
	cursor: default;
	color:blue;
	font-family: fantasy,impact,sans-serif;
	font-size: 3em;
	transition: all 1.5s;
	border-bottom: 2px solid rgba(255,0,70,0.4);
	border-right: 2px solid rgba(255,0,70,0.4);
	width:200px;
	box-shadow: 4px 4px 5px #000000;
	text-align: center;
	margin: 100px;
}
h2:hover {transform: scale(2);
color: red;
border:3px blue;}
img{
	 width: 450px;
	 height: 250px;
	 margin: 10px;
	 transition: all 1s;
}
img:hover{
	transform: scale(1.1);
}
.container{
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}
